{% extends "base.html" %}

{% block content %}
  <main class="hero-section">
    <div class="container">

      <br>

      <h1>Organization ID: {{ organization.idOrganization }}</h1>
      <h1>Organization Public Name: {{ organization.publicName }}</h1>
      <h1>Organization Complete Name: {{ organization.completeName }}</h1>
      <h1>Organization Start Date: {{ organization.startDate }}</h1>
      <h1>Organization End Date: {{ organization.endDate }}</h1>



    </div>
  </main>
{% endblock %}
