{% extends "base.html" %}

{% block content %}
  <main class="hero-section">
    <div class="container">

      <br>

      <div class="container">
      <h4>Add Entry</h4>
      <form method="POST" action="/edit_politician/{{politician.idPolitician}}">

        <div class="form-group">
          <label for="public_name"> Public Name</label>
          <input type="text" name="publicName" class="form-control" id="email" value="{{politician.publicName}}">
        </div>

        <div class="form-group">
          <label for="complete_name"> Complete Name</label>
          <input type="text" name="completeName" class="form-control" id="email" value="{{politician.completeName}}">
        </div>

         <div class="form-group ">
          <label class="control-label " for="stDate">Start date</label>
          <input class="form-control" id="date" name="date" value="{{politician.startDate}}" type="text"/>
        </div>

        <div class="form-group ">
          <label class="control-label " for="endDate2">End date</label>
          <div class="input-group">
            <div class="input-group-addon">
              <i class="fa "></i>
            </div>
            <input class="form-control" id="date2" name="date2" value="{{politician.endDate}}"  type="text"/>
          </div>
        </div>

        <div class="small-2 columns">
         <button class="button postfix"  type="submit">Edit</button>
        </div>

      </form>
      </div>


    </div>
  </main>
{% endblock %}