{% extends "base.html" %}

{% block content %}
  <main class="hero-section">
    <div class="container">

      <br>

      <h1>Politician ID: {{ politician.idPolitician }}</h1>
      <h1>Politician Public Name: {{ politician.publicName }}</h1>
      <h1>Politician Complete Name: {{ politician.completeName }}</h1>
      <h1>Politician Start Date: {{ politician.startDate }}</h1>
      <h1>Politician End Date: {{ politician.endDate }}</h1>


      <form action="/delete_politician/{{ politician.idPolitician }}" method="post">
        <input type="submit" value="Delete" />
      </form>

     

    </div>

  </main>
{% endblock %}