{% extends "base.html" %}

{% block content %}
  <main class="hero-section">
    <div class="container">
      
    <h1>Home</h1>

    <div class="container">

    <a href="{{ url_for('create_politician') }}" class="btn btn-default btn-lg" role="button">Create Politician</a>
      <h3>Politics:</h3>
      {% for politic in politics %}
        <strong>Public Name: </strong>{{politic.publicName}} <br>
        <strong>Complete Name: </strong>{{politic.completeName}} <br>
        <a href="{{ url_for('politician', idPolitician=politic.idPolitician) }}"  class="btn btn-default btn-sm" role="button"> See Politician </a>


        <br>
      {% endfor %}


      </div>



    </div>
  </main>
{% endblock %}